In [9]:
import numpy as np
import aiox
import pandas as pd

In [10]:

# create sample data
products, quantities, countries, regions, cities = {}, {}, {}, {}, {}
np.random.seed(seed=0)
for i in range(1000):
    products[i] = "{:04d}".format(np.random.randint(15))
    quantities[i] = np.random.randint(1000)
    countries[i] = "{:03d}".format(np.random.randint(4))
    regions[i] = "{:05d}".format(np.random.randint(3))
    cities[i] = "{:02d}".format(np.random.randint(2))

In [13]:
# prepare sample data DataFrame
df_prep = pd.DataFrame()
df_prep["Product"] = products.values()
df_prep["Country"] = countries.values()
df_prep["Quantity"] = quantities.values()
df_prep["Region"] = regions.values()
df_prep["City"] = cities.values()

df = pd.concat([df_prep, df_prep])

In [14]:
df.shape

(2000, 5)

In [18]:
df

    Product Country  Quantity Region City
0      0012     001       559  00000   01
1      0011     003       707  00001   01
2      0005     000       754  00002   00
3      0008     002       396  00001   00
4      0007     002        87  00000   01
..      ...     ...       ...    ...  ...
995    0003     001       734  00001   01
996    0014     000       413  00000   00
997    0009     002       930  00001   01
998    0013     001       712  00001   00
999    0004     003       303  00000   00

[2000 rows x 5 columns]

In [17]:
df.dtypes

Product     object
Country     object
Quantity     int64
Region      object
City        object
dtype: object

In [15]:

results = aiox.abc_analysis(
    df,
    primary_dimension="Product",
    secondary_dimensions=["Country", "Region"],
    numeric_dimension="Quantity",
)

results[
    (results["secondary_dimension"] == "003-00002-01")
    | (results["secondary_dimension"] == "003-00002-00")
]
assert len(results)